node_modules/

# CDK asset staging directory
*.d.ts
.cdk.staging
cdk.out

.idea/
.vscode/

*.iml

dist/
dev-dist/

.env.local
__pycache__/
.ipynb_checkpoints/

test-data/78_teams.json
/packages/optimization/test-data/78_teams.json
chroma.sqlite3
