name: 'Route Optimization - Build & Test'

on:
  push:
      paths:
        - 'packages/optimization/**'
        - 'infrastructure/lib/OptimizationStack.ts'
        - 'infrastructure/lib/NodeJsLambda.ts'
        - 'infrastructure/lib/PythonLambda.ts'
        - 'infrastructure/lib/CommonUtils.ts'
        - 'infrastructure/lib/Environment.ts'
  workflow_dispatch:

jobs:
  build_test_route_optimization:
    name: 'Route Optimization'

    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: read
    
    steps:
      - uses: actions/checkout@v4
        name: Check-out repository

      - uses: actions/setup-python@v5
        name: Set up Python
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: 'packages/optimization/requirements-dev.txt'

      - name: Install dependencies
        run: |
          cd packages/optimization
          pip install -r requirements-dev.txt
          pip install pytest-cov

      - name: Run Route Optimization tests with coverage
        run: |
          cd packages/optimization
          PYTHONPATH=. pytest --junitxml=reports/junit.xml --cov=. --cov-report=xml --cov-report=term

      - name: Publish Route Optimization Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: packages/optimization/reports/junit.xml
          check_name: Route Optimization Test Results

      - name: Upload Route Optimization Coverage Report
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: route-optimization-coverage
          path: packages/optimization/coverage.xml